.ResumeTitle{
    text-align: center;
    font-variant: all-small-caps;
    color: black;
    font-size: 40px;
    padding-bottom: 5vh;
}

.Portfolio{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding-right: 2vh;
}
.MuiTimelineOppositeContent-root {
    display: flex;
    place-content: center;
    padding: 6px 0 16px 0;
}
.MuiTimeline-positionRight.css-1wnygn3-MuiTimeline-root {
    background: #f7f7f7;
    font-size: 18px;
}
.Portfolio.css-ahj2mt-MuiTypography-root{
    font-size: 18px;
}
.Portfolio.css-lxbhme-MuiTypography-root-MuiTimelineOppositeContent-root{
    font-size: 18px;
}
.Portfolio.css-nnsfc0-MuiTypography-root{
    font-size: 18px;
}
.MuiTimelineSeparator-root.css-1fe7e6p-MuiTimelineSeparator-root{
    padding-left: 8vh;
}
.MuiTimelineOppositeContent-root{
    margin:0
}
.MuiTypography-body1.MuiTimelineOppositeContent-root.MuiTimelineOppositeContent-positionRight.Portfolio.css-lxbhme-MuiTypography-root-MuiTimelineOppositeContent-root{
    width: 4vh;
    margin-left: 5%;
}