.TitleSkills {
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 8vh 0 5vh 0;
    width: 100%;
}
@media screen and (min-width: 728px) {
    .TableSkills {
        display: flex;
        justify-content: space-around;
        padding-left: 1em;
        padding-bottom: 5vh;
    }

    .MySkills {
        font-variant: all-small-caps;
        margin-right: 1em;
    }
}
@media screen and (max-width: 727px) {
    .TableSkills {
        padding-left: 6vh;
    }
    .TitleSkills {
        font-feature-settings: "smcp", "c2sc";
        font-variant: all-small-caps;
        color: black;
        font-size: 40px;
        text-align: center;
        padding: 8vh 0 5vh 0;
    }
    .MySkills {
        font-variant: all-small-caps;
        margin-right: 1em;
    }
}
@media only screen
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .TableSkills {
        display: flex;
        justify-content: space-around;
        padding-left: 1em;
        padding-bottom: 5vh;
        align-items: center;
        flex-direction: column;
    }
}
.MySkills p {
    font-size: 20px;
}
.ProgressLine {
    background: black;
    height: 12px;
    width: 30vh;
}
.HtmlProgressLine{
    background: black;
    height: 12px;
    width: 30vh;
}
.BootstrapProgressLine{
    background: black;
    height: 12px;
    width: 15vh;
}
.CSSProgressLine{
    background: black;
    height: 12px;
    width: 23vh;
}
.SassProgressLine{
    background: black;
    height: 12px;
    width: 20vh;
}
.GitProgressLine{
    background: black;
    height: 12px;
    width: 20vh;
}
.JavascriptProgressLine{
    background: black;
    height: 12px;
    width: 28vh;
}
.ReactProgressLine {
    background: black;
    height: 12px;
    width: 20vh;
}
.ReduxProgressLine{
    background: black;
    height: 12px;
    width: 20vh;
}

.SingleProgressBar {
    /*justify-content: space-between;*/

}