h1{
    font-size: 40px;
    text-align: center;
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    padding: 6vh 0 6vh 0;

}


@media screen and (min-width: 800px) {
    .ProjectCards{
        display: flex;
        justify-content: space-evenly;
        padding: 0 0 4vh 0;
    }
}
@media screen and (max-width: 799px) {
    .ProjectCards{
        display: flex;
        flex-flow: column;
        margin-left: 10%;
        width: 80%;
    }
    .MuiCardMedia-img.css-o69gx8-MuiCardMedia-root{
        margin-top: 2vh;
    }
    .MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root{
     margin-bottom: 5px;
    }
}
